
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
/* Responsive table */
.responsive-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
th, td {
  text-align: left;
  min-width: 120px; /* Increased size for better readability */
}
th {
  background-color: #1a202c;
  color: white;
}
td {
  border-bottom: 1px solid #ddd;
}
.break-multiline {
  word-wrap: break-word;
  white-space: normal;
}
body {
  background-image: url("bgimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}